.container-orders {
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
}

.order-card {
  border: 1px solid blue;
  height: 10vh;
  margin: 1vh;
}

a {
  color: black;
  text-decoration: none;
  width: 45%
}