.Product_only {
  align-items: center;
  border: 1px solid black;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
}

.Product_only button {
  width: 35%;
}

.AllProducts_father {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
