.PastOrders_order {
  align-items: center;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  flex-flow: column;
  margin: 10px;
  width: 10em;
}

.PastOrders_all {
  display: flex;
  flex-flow: row wrap;
  margin-top: 14vh;
}

.Details_order {
  border: 1px solid black;
  margin: 6em 1em 1em;
  text-align: center;
  width: 15em;
}
