.PastOrders_order {
  border: 1px solid black;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 10px;
  width: 10em;
}

.PastOrders_all {
  display: flex;
  flex-flow: row wrap;
  margin-top: 14vh;
}
